footer ul {
  display: flex;
  height: 30px;
  background: linear-gradient(90deg, rgb(156,227,225) 0%,rgb(108,198,196) 100%);
  border-radius: 3px;
}

footer li a {
  display: block;
  color: white;
  font-size: 13px;
  padding: 5px 20px;
}

footer li a:hover {
  text-decoration: underline solid white;
}

.address {
  text-align: right;
  font-size: 13px;
  border-bottom: 3px solid #4D82C4;
  padding-bottom: 10px;
}

.inc {
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}