html {
  border-top: 10px solid rgb(108,198,196);
  top: 0; right: 0; left: 0;
  background-color: rgb(247, 244, 244);
}

a {
  text-decoration: none;
} 

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}